{% extends "interface/interface_base.html" %}
{% block content %}

<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row" id="main" >
            <div class="col-sm-12 col-md-12 well" id="content">
                <h1 id="header1">Reports - Inventory</h1>
            </div>
        </div>
        <!-- /.row -->
        <iframe width="1600" height="1000" src="https://trial.sisense.com/app/main#/dashboards/5a57851e6b2910bc2701bba0?embed=true&h=false&r=false&l=false" frameborder="0" </iframe>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->



{% endblock %}
