/* logo color: #00B4B0 */

html,body {
  background-color: #f9f9f9;
  padding-top: 20px;

}

h1,h2,h3,h4,p {
  color: #444444;
  font-family: 'Playfair Display', serif;
}



.navbar-brand {
  padding-bottom: 0px;
  padding-top: 10px;
  padding-left: 150px;
}

.navbar {
  background-color: #f9f9f9;
}

.navbar-right{
  padding-right: 100px;
}

.navbar-nav {
  padding-left: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-simple {
  font-size: 16px;
  color: #444444;
}

.homepagebg1 {
  background: url("/static/images/office_bg_blur.jpg") center center no-repeat;
  background-size: cover;
  height: 900px;
  padding-bottom: 10px;
}

.footer {
  position: absolute;
  top: 2500px;
  left: 300px;
}

#homepage_img1 {
  position: absolute;
  top: 250px;
  max-width: 950px;
  max-height: 950px;
  width: auto;
  height: auto;
  right: 100px;
}

#homepage_img2 {
  position: absolute;
  right: 300px;
  top: 1000px;
  max-width: 500px;
  max-height: 500px;
}

#homepage_img3 {
  position: absolute;
  top: 1450px;
  left: 300px;
  max-width: 500px;
  max-height: 500px;
}

#homepage_img4 {
  position: absolute;
  top: 1900px;
  right: 300px;
  max-width: 500px;
  max-height: 500px;
}

#homepage_txt1 {
  position: absolute;
  top: 400px;
  left: 250px;
}

#homepage_txt2 {
  position: absolute;
  left: 250px;
  top: 600px;
}

#homepage_txt3 {
  position: absolute;
  left: 250px;
  top: 550px;
}

#homepage_txt4 {
  position: absolute;
  left: 300px;
  top: 1100px;
}

#homepage_txt5 {
  position: absolute;
  left: 300px;
  top: 1150px;
}

#homepage_txt6 {
  position: absolute;
  right: 550px;
  top: 1500px;
}

#homepage_txt7 {
  position: absolute;
  right: 340px;
  top: 1550px;
}

#homepage_txt8 {
  position: absolute;
  left: 300px;
  top: 2000px;
}

#homepage_txt9 {
  position: absolute;
  left: 300px;
  top: 2050px;
}
