<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Prelens Analytics</title>
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'interface/css/master.css'%}">


  </head>

  <body>

      <nav class="navbar navbar-fixed-top" role="navigation" id="navbar">
      			<div>
              <a class="navbar-brand" href="{% url 'home' %}"> <img src="/static/images/Logo (web) 2.png" alt="Prelens"> </a>
      					{% if user.is_authenticated %}

                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="{% url 'logout' %}" class="btn btn-simple">Log Out</a></li>
                  </ul>


      					{% else %}
                  <ul class="nav navbar-nav">
                      <li><a href="{% url 'product' %}" class="btn btn-simple">Product</a></li>
                      <li><a href="{% url 'solutions' %}" class="btn btn-simple">Solutions</a></li>
                      <li><a href="{% url 'industries' %}" class="btn btn-simple">Industries</a></li>
                      <li><a href="{% url 'demo' %}" class="btn btn-simple">Demo</a></li>
                      <li><a href="{% url 'about' %}" class="btn btn-simple">About</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="{% url 'contact_us' %}" class="btn btn-simple">Contact Us</a></li>
      						    <li><a href="{% url 'login' %}" class="btn btn-simple">Log In</a></li>
                  </ul>
      					{% endif %}





      			 </div>
      	</nav>



        <div>

          {% block content %}

          {% endblock %}


        </div>





    </body>
    <script src="{% static "interface/js/master.js"%}" type="text/javascript" ></script>
  </html>
