{% extends "base.html" %}
{% block content %}

<div class="homepagebg1">

  <center><h1 id=homepage_txt1>Transform Your Data Into Actionable Insights</h1></center>
  <center><h2 id=homepage_txt2>Reporting, predictive analytics, optimization</h2></center>

  <img id= "homepage_img1" src="/static/images/bg_pic_homepage.png" alt="">

  <center><h4 id=homepage_txt3>Leveraging your data analytics with Artificial Intelligence</h4></center>

</div>

<div class="container">
    <div class="homepagebg2">

      <div id="homepage_txt4">
        <h2>Reporting</h2>
      </div>

      <div id="homepage_txt5">
        <h3>Monitor all your business metrics <br>
        on a single platform</h3>
      </div>

    <img id= "homepage_img2" src="/static/images/bg_pic_homepage.png" alt="">

  </div>


<div class="homepagebg3">

    <div id="homepage_txt6">
      <h2>Predictive Analytics</h2>
    </div>

    <div id="homepage_txt7">
      <h3>Applying Machine Learning to both internal <br>
        and external data to predict demand</h3>
    </div>

  <img id= "homepage_img3" src="/static/images/bg_pic_homepage.png" alt="">
</div>

<div class="homepagebg4">

    <div id="homepage_txt8">
      <h2>Optimization</h2>
    </div>

    <div id="homepage_txt9">
      <h3>Optimize inventory, pricing, and<br>
      helps you target your marketing efforts</h3>
    </div>

  <img id= "homepage_img4" src="/static/images/bg_pic_homepage.png" alt="">
</div>

<div class="footer">
  <p>Copyright © 2018 Prelens Analytics. All rights reserved.</p>
</div>

{% endblock %}
